<div class="container-fluid">
<h1>La Super Hero Academy</h1>
</div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/heroes-list">Héros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/organisation-list">Organisations</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>


