.home
{
    background-color: rgb(100, 148, 237,0.6);
}
.header
{
    background-color: darkblue;
}
.nav
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 9rem;
    color: gold;
}

