
 <div class="container-fluid header m-0 p-0"><h1>Héro Academy</h1></div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light  sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav">
      
          <!--  BOUTON HEROS-->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Heros et Vilains
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#"  routerLink="/heroes-list">Liste</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/hero-create">Ajouter</a></li>
            </ul>
            
          </div>
          <!-- BOUTON ORGANISATIONS-->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Organisations
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#" routerLink="/organisation-list">Liste</a></li>
              <li><a class="dropdown-item" href="#"  routerLink="/organisation-create">Ajouter</a></li>
            </ul>
            
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>


