<div class="container home p-0">
    <div class="row">
        <div class="col-sm">
            <h2>Liste des Super-Organisations</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="container form">
                <div class="row" *ngIf="listeOrganisation.length == 0">
                    <div class="col-sm">
                        <h3>Aucune organisation enregistrée</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid tableau ">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm"><h4>Nom</h4></div>
            <div class="col-sm"><h4>Quartier Général</h4></div>
            <div class="col-sm"><h4>Leader</h4></div>
            <app-show-organisation [currentOrganisation]="monOrga" *ngFor="let monOrga of listeOrganisation">
            </app-show-organisation>
        </div>
    </div>
    <div class="row">
        <div class="col  d-flex justify-content-end m-2">
            <button type="button" routerLink="/organisation-create" class="btn btn-secondary"> Ajouter Organisation</button>
        </div>
    </div>

</div>