<div class="container home">
    <div class="row">
        <div class="col-sm">
            <h2>Liste des Super-Organisations</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="container form">
                <app-create-organisation></app-create-organisation>
                <div class="row" *ngIf="listeOrganisation.length == 0">
                    <div class="col-sm">
                        <h3>Aucune organisation enregistrée</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container header">
        <div class="row tableau">
            <div class="col-sm-2">Nom</div>
            <div class="col-sm-2">Quartier Général</div>
            <div class="col-sm-2">Leader</div>
            <app-show-organisation [currentOrganisation]="monOrga" *ngFor="let monOrga of listeOrganisation">
            </app-show-organisation>
        </div>
    </div>
</div>