<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row">
        <div class="col-sm-6">
            <label>Nom de l'organisation</label>
        </div>
        <div class="col-sm-2">
            <input type="text" [formControl]="organisationName" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label>Localisation du quartier général</label>
        </div>
        <div class="col-sm-2">
            <input type="text" [formControl]="organisationHeadQuarterName" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label>leader</label>
        </div>
        <div class="col-sm-2">
            <select formControlName="organisationLeader">
                <option [ngValue]="hero" *ngFor="let hero of listHeroes">{{hero.pseudo}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <input type="radio" formControlName="typeOrga" value="good"> Gentils
        </div>
        <div class="col-sm-4">
            <input type="radio" formControlName="typeOrga" value="evil"> Méchants
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5  d-flex justify-content-end">
            <button type="submit" [disabled]="!form.valid" 
            class="btn bg-light btn-block">Créer</button>
        </div>
    </div>
</form>